
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chapter-form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    position: relative;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 20px;
}



.video-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
    gap: 50px;
  
}

.video-cell {
    width: calc(33.33% - 20px);

    margin-bottom: 20px;
}

.video-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 10px;
    position: relative;
    margin: 10px;
}

.small-video {
    max-width: 100%;
    height: auto;
}

.video-info {
    padding: 10px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.video-container:hover .video-info {
    opacity: 1;
}

.delete-video-button {
    margin-top: 0.5rem;
        margin-bottom: 1rem;
}

.delete-video-button button:hover {
    background-color: #ff0000;
}