.container-dashboard {
  text-align: center;
  margin-top: 20px;
  padding: 0 15px; 
  max-width: 1200px;
  margin: 0 auto; 
}
.user-email {
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.user-email h2 {
    font-size: 18px;
    margin: 0;
}

.dashboard-card {
    background-color: white;
    border: none;
  
}
.select-class-btn {
    background-color: #3498db;
    /* background-color: #eaec59; */
    color: #fff;
    /* color: #000; */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.select-class-btn:hover{
    background-color:#2ecc71;
    
    /* color: #fff; */
}

.class-buttons {
    display: none;
    margin-top: 10px;
}

.class-buttons.show {
    display: block;
}

.dash-btn {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px;
}
.dash-btn:hover {
    background-color: #3498db;
    
}

.class-buttons button:last-child{
    background-color: #2ecc71;
        color: #fff;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        margin: 5px;
}

.screen2 {
    margin-top: 20px;
    text-align: center;
}

.screen2 h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.screen2-buttons {
    margin-top: 10px;
}

.screen2-buttons button {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px;
}
.screen2-btn:hover {
    background-color: #3498db;
}

.close-btn {
    background-color: #c0392b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

.close-btn:hover {
    background-color: #e74c3c;
}


.screen3 {
    margin-top: 20px;
    text-align: center;
}

.screen3 h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.screen3-buttons {
    margin-top: 10px;
}

.screen3-buttons button {
    background-color: #ad50a9;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px;
}

.screen3-btn:hover {
    background-color: #a01ca0;
}

.chapter-form {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 10rem;
        margin-right: 9rem
}

.chapter-form h3 {
    margin-bottom: 10px;
}

.chapter-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chapter-form input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 10px;
}

.chapter-form button {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}


.chapter-form button {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.chapter-form button:hover {
    background-color: #27ae60;
}




.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: #fbf1fc; */
    background-color: #41badf;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
}

.user-info button {
    background-color: #dd4f4f;
    color: #fff;
    border: none;
    padding: 12px 10px;
    border-radius: 4px;
    cursor: pointer;
        margin-left: 14px;
        margin-right: 35px;
}

.user-info button:hover{
    background-color: #ff0000;
}

