
.step-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    /* background-color: #f9f9f9; */
    background-color: hsla(0, 0%, 98%, 0.719);
    /* background-color: #f0a8a8; */
    margin-bottom: 80px;
            margin-top: 25px;
            padding-top: 5px;
}



.progress-bar {
    width: 100%;
    height: 8px;
    background-color: #ddd;
   
    border-radius: 4px;
    margin-bottom: 15px;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
   
    box-sizing: border-box;
}

/* input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding-right: 4px;

}  */
.form-heading {
    text-align: center;
    margin-top: 40px;
   
    margin-bottom: 34px;
}

.form-heading h1 {
    font-size: 24px;
    color: #333;
        margin-bottom: 10px;
    margin: 0;
}



select::after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.progress {
    height: 100%;
    background-color: #4caf50;
    border-radius: 4px;
}


.step {
    display: none;
}


.step:nth-child(2n) {
    display: block;
}




.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
}


button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}


button:last-child {
    background-color: #5cf0f0;
    
    margin-left: 10rem;
        margin-right: 22rem;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;

}


select::-ms-expand {
    display: none;
    
}

select::after {
    content: "\25BC";
   
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.date-picker-input {
    display: flex;
    align-items: center;
    width: 100%;
   
}


.date-picker-icon {
    padding: 5px;
    cursor: pointer;
}


.react-datepicker__input-container input {
    padding-right: 200px;
   
}

/* .login-link{
    margin-bottom: 10px;
} */

